@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

html {
	height: 100%;
}

body {
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	width: 100%;
	color: white;
	background: url('../img/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

/* Typography */

p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
}

textarea {
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

header .container {
	margin-top: 60px;
}

header .header-text {
	color: white;
}

a {
	text-decoration: none;
	color: #00a8ff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.navbar {
	top: 50px;
}

.navbar-nav > li > a {
	font-size: 24px;
	padding: 10px;
}

.navbar-nav > li > a:hover {
	background: none;
}

.navbar-nav > li > a > .fa {
	color: #fff;
}

.navbar-nav > li > a > .fa:hover {
	color: #00a8ff;
}

.container {
	position: relative;
	z-index: 1;
}

/* Footer */

footer {
	padding: 40px 0 40px;
}

footer .trial-button {
	overflow: hidden !important;
	margin: 40px 0;
}

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
	padding: 0 10px;
}

footer .social-footer li:hover a {
	color: #00a8ff;
}

footer p {
	font-size: 14px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}

/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f7f7f7;
}

.blue {
	color: #00a8ff;
}

.blue-bg {
	background: #00a8ff;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}

.navbar-brand > img {
	width: 300px;
}

@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
}

/* Input */



/* Media Queries */

@media(max-width:991px) {
	footer p {
		font-size: 12px;
	}
}

@media(max-width: 768px) {
	footer .social-footer li a {
		font-size: 18px;
	}
}

@media(max-width: 400px) {
}